<!Doctype htmml>
<html>
<head>
	<title> More Images</tile>
</head>
<body>
<h1>About Me</h1>
	<a href="..?index.html"> Go Back</a>
	<!--Go back link  -->

	<figure>
		<img src="file:///C:/Users/elena/Assignment%202/Images/Singer.jpg.jpg" alt="singer" width="338" height="304">
	<figcaption> This represents my love for singing! </figcaption>
	</figure>

	<figure>
		<img src="file:///C:/Users/elena/Assignment%202/Images/Books.jpg" alt="Books" width="296" height="170">
	<figcaption> This represents my love for reading and writing. I could sit down with a good book and read for hours.</figcaption>
	</figure>

	<figure>
		<img src="file:///C:/Users/elena/Assignment%202/Images/Pancakes.jpg" alt="Pancakes" width="700" height="467">
	<figcaption> Pancakes are my favorite food. </figcaption>
	</figure>

	<figure> 
		<img src="file:///C:/Users/elena/Assignment%202/Images/Songwriting.jpg" alt="songwriting" width="679" height="302">
	<figcaption> This image represents my love and passion for creating music. I am a music minor and started songwriting in highschool.
	</figcaption>
	</figure>

	<figure> 
		<img src="file:///C:/Users/elena/Assignment%202/Images/Kitten.jpg" alt="kitten" width="476" height="317">
	<figcaption> This cute kitten reminds me of my cat that passed away last year. </figcaption>
	</figure>
	
</body>
</html>